body{
    background-color: #FAF3E0;
    height: 100%;
}
header{
    background: linear-gradient(rgb(77, 62, 24),rgb(79, 229, 124));
    margin-top: 0%;
    width: 100%;
    border-radius: 10px;
}
ul {
  list-style: none; 
  padding: 0;
  margin-left: 15%;
  display: flex; 
  gap: 25%; 
}
a[href] {
  text-decoration: none; 
  color: white; 
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif;
}
main {
  padding-top: 60px; 
}
.bloque{
    background-color: rgb(170, 159, 124);
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.partie1, .partie2 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}
.partie1{
    background: linear-gradient(green, rgb(208, 255, 0), rgb(56, 50, 50));
    max-height: 540px;
    overflow-x: scroll; 
    display: flex;
    gap: 15%;
}
.partie2{
    max-height: 540px;
    overflow-y: scroll; 
}
#image{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
#image_2{
    width: 35%;
   height: auto;
   border-radius: 25%;
}
#image_2:hover {
  width: 70%;
  height: auto;
  transition: all 0.3s ease;
}
h1{
    color: rgb(126, 95, 77);
    text-align: center;
}
p, address{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Allura ;
    text-align: center;
    font-style: italic;
}
.produit{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: Allura ;
    text-align: center;
    font-style: italic; 
}
.boutton{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
#bouton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #8b6a4e;
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s ease;
}
#bouton:hover{
  width: 35%;
  height: 60PX;
  transition: all 0.3s ease;
}
footer > p{
  color:black
}
#formulaire{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
  border-color: pink;
  border-style: solid;
  z-index: 1000;
  overflow-y: scroll;

}
.Formulaire p{
  color: black;
}
.Formulaire a{
  color: rgb(37, 36, 36);
  text-decoration: underline;
  text-align: right;
  font-size: 15px;
}
#validation_commande{
  text-align: center;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(227, 17, 147);
  color: rgb(0, 0, 0);
  border-radius: 3px;
  border: none;
  margin-left: 30%;
  cursor: pointer;
}
#code_pays{
  width: 50px;
}
input[min ="1"]{
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}
